.loginInput {
  @apply text-lg max-w-lg border-2 border-gray-300 h-12 p-2 rounded-lg focus:outline-none text-gray-700 shadow-lg;
}

#logo-sidebar {
  width: 100%;
}

#col-der {
  background-image: url("../images/fondo.png");
  background-size: cover;
}

#col-izq {
  background: white;
}

#titulo-principal,
#recuperar-pass {
  color: #f0313d;
}

#recuperar-pass {
  text-decoration: underline;
}

#boton-login {
  background-color: #f0313d;
}

#boton-login:hover {
  background-color: #ec2d3a;
}

.tablaItem {
  cursor: pointer;
}
