.itemVenta {
  background-color: rgb(33, 34, 39);
}

.itemVentaActivado {
  background-color: #f0313d;
}

.itemTipo {
  border-color: rgb(36, 37, 43);
}

.itemTipoSeleccionado {
  border-color: #ffff;
}
