@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(23, 24, 28);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.titulo {
  color: #f0313d;
}

.bigInput {
  background-color: none;
  color: white;
  border-color: rgb(23, 24, 28);
}

.bigInput:focus {
  border-color: #ffffff;
  transition: border-color 0.8s;
}

.bigInput:not(:focus) {
  border-color: rgb(23, 24, 28);
  transition: border-color 0.8s;
}

.formInput {
  background-color: #212227;
  color: white;
  border-color: gray;
}

.formInput:focus {
  border-color: #ffffff;
  transition: border-color 0.8s;
}

.formInput:not(:focus) {
  border-color: #575757;
  transition: border-color 0.8s;
}

.formInputInactive {
  background-color: rgb(40, 41, 46);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  user-select: none;
}

option:hover {
  color: #f0313d;
}

.botonPrincipalInput {
  background-color: #f0313d;
}

.botonPrincipalInput:hover {
  background-color: #f1323f;
  transition: background-color ease 0.3s;
}

.botonInput {
  background-color: #28292e;
}

.botonInput:hover {
  background-color: rgb(42, 43, 48);
  transition: background-color ease 0.3s;
}

#fondoModal {
  background-color: rgb(23, 24, 28, 0.4);
}

#modal {
  background-color: rgb(33, 34, 39);
}

.inputModal {
  background-color: rgb(40, 41, 46);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
